.about_me {
  grid-template-columns: 1fr 1fr;
  display: grid;

  img {
    border-radius: 30px;
  }

  figcaption {
    border: 1px solid #3dcfb6;
    border-radius: 30px;
    background-color: #3DCFB61A;
    padding: 32px 40px;
  }

  &__highlights {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;

    &>div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.who_i_am {
  margin-top: 80px;

  &__title {
    font-family: Karla;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    color: #3DCFB6;
  }
}