<figure class="about_me">
  <img src="img/4ergert-500kb.png" alt="4ergert-portrait" width="568" height="378">

  <div class="who_i_am">
    <p class="who_i_am__title">Who I am</p>
    <figcaption>
      <h2>About Me</h2>
      <p>
        Hey, I’m Julian. An aspiring software developer. <br>
  
        My goal is to understand complex challenges, develop structured solutions, and continuously improve existing
        processes. Practical challenges motivate me to explore new approaches and continuously develop my programming
        skills. <br>
      <section class="about_me__highlights">
        <div>
          <img src="icon/basedin-icon.png" alt="Location icon" width="24" height="24"><span>Based near Münster,
            Germany</span>
        </div>
        <div>
          <img src="icon/about-me-highlight-icon.png" alt="Highlight icon" width="24" height="24"><span>I am open-minded
            and always eager to learn new technologies. I enjoy expanding my skills, exploring new approaches, and
            continuously improving as a software developer.</span>
        </div>
        <div>
          <img src="icon/check-star-icon.png" alt="Achievement icon" width="24" height="24"><span>I approach challenges
            with analytical thinking, creativity, and persistence. I see every problem as an opportunity to learn,
            collaborate, and find the most efficient solution.</span>
        </div>
  
      </section>
    </figcaption>
  </div>
</figure>