<section class="hero">
  <nav class="nav_bar">
    <div class="nav_bar__language-switcher">
      <language-switcher></language-switcher>
      <ul>
        <li>About me</li>
        <li>Skills</li>
        <li>Projects</li>
      </ul>
    </div>
    <img class="nav_bar__logo" src="icon/4ergert-ambigram-minimal.svg" alt="4ergert Logo" width="96" height="72">
  </nav>
  <section class="hero__section">
    <p>Frontend Developer</p>
    <h1 appMatrixRain>Julian Hergert</h1>
  </section>
</section>