:host {
  display: block;
  position: relative;
  min-height: 100vh;
}

about-me {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

technologies {
  display: block;
  margin-top: 150px;
  padding: 0 24px;
}

projects {
  display: block;
  margin-top: 150px;
  padding: 0 24px;
}

references {
  display: block;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

contact-me {
  display: block;
  margin-top: 150px;
  padding: 0 24px;
}