@use './styles/fonts';
@use './app/shared/directives/string-to-matrixrain/matrix-rain';

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  background: linear-gradient(55.22deg, #1C1C1C 36.26%, #106958 93.28%);
  color: #D9D9D9;
  padding: 0 96px;
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}

h1 {
  margin: 0;
  font-family: Karla;
  font-weight: 700;
  font-style: Bold;
  font-size: 128px;
  color: #D9D9D9;
}