<section class="lateral">
  <div class="lateral_left">
    <div class="lateral_left__scroll_icon">
      <div class="arrow">
        <div class="lateral_left__scroll_icon__line"></div>
        <div class="lateral_left__scroll_icon__arrow">
          <div class="lateral_left__scroll_icon__arrow__left"></div>
          <div class="lateral_left__scroll_icon__arrow__right"></div>
        </div>
      </div>
    </div>
    <div class="lateral_left__line"></div>
  </div>
  <div class="lateral_right">

  </div>
</section>