<section class="lateral">
  <div class="lateral_left">
    <div class="lateral_left__scroll_icon">
      <div class="arrow">
        <div class="lateral_left__scroll_icon__line"></div>
        <div class="lateral_left__scroll_icon__arrow">
          <div class="lateral_left__scroll_icon__arrow__left"></div>
          <div class="lateral_left__scroll_icon__arrow__right"></div>
        </div>
      </div>
    </div>
    <div class="lateral_left__line"></div>
  </div>
  <div class="lateral_right">
    <a class="lateral_right__mail" href="mailto:julian.konken@gmx.net">julian.konken@gmx.net</a>
    <div class="lateral_right__links">
      <a class="lateral_right__github-link" href="#">
        <img src="icon/github-icon.png" width="32" height="32" alt="GitHub">
        <img class="lateral_right__github-hover-icon" src="icon/github-hover-icon.png" width="32" height="32" alt="">
      </a>
      <a class="lateral_right__linkedin-link" href="#">
        <img src="icon/linkedin-icon.png" width="32" height="32" alt="LinkedIn">
        <img class="lateral_right__linkedin-hover-icon" src="icon/linkedin-hover-icon.png" width="32" height="32" alt="">
      </a>
    </div>
    <div class="lateral_right__line"></div>
  </div>
</section>